.container_3 {
  width: 80%;
  margin: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.h1_3 {
  text-align: center;
  color: #333;
}

.project-section {
  margin: 30px 0;
}

.project {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin: 20px 0;
  transition: 0.3s;
}

.project:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project h3 {
  color: #000000;
}

.project-link {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #929090;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.project-link:hover {
  background-color: #000000;
}